.c-tag-group {
    max-width: 1280px;
    margin-top    : 20px;
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

.show-more-btn {
    span {
        padding: 5px;
        background-color: #2292ee;
        margin-top: 15px;
        display: inline-block;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
    }
}
