.input {
    position: relative;
    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
        border: 0;
        resize: none;
        outline: none;
        font-size: 14px;
        color: #717171;
        background-color: transparent;
        line-height: 20px;
        min-height: 25px;
        height: max-content;
        max-height: 110px;
        &::-webkit-input-placeholder {                   
            color: #C6CFD4;
            font-size: 14px;
            font-style: italic;
        }
        &::-moz-placeholder {
            color: #C6CFD4;
            font-size: 14px;
            font-style: italic;
        }
        &:-ms-input-placeholder {
            color: #C6CFD4;
            font-size: 14px;
            font-style: italic;
        }
    }
    .transparent {
        display: block;        
        position: absolute;
        right: 0;
        .c-button {
            margin-right: 0;
            margin-top: 10px;
        }
        &.hideEdit { display: none; }
        &.top-position {
            .c-button {
                margin-top: 0;
                // margin-right: 14px;
            }
        }
    }
}
.input-options {
    border-top: 2px solid #636E72;
    padding-top: 8px;
    .delete { display: inline-block; }
    .close-save { float: right; }
    .c-button { margin-right: 0; }
    .save { margin-left: 10px; }
}